<body>
    <h1>Sample Form</h1>
    <form action="delete"method="post">
    <label>Student Name</label>
    <input type="text" id="sname" name="sname"><br/>
    <label>Student Address</label>
    <textarea id="saddr" name="saddr" rows="3"></textarea><br/>
    
    <input type="submit" name="submit">
    <input type="reset">
    </form>
    </body>
    